{% extends "app/base.html" %}

{% block content %}
<h2 class="my-4">{{ article.title }}</h2>
<p>{{ article.category }}</p>
<hr>
<p>{{ article.created }} by {{ article.author }}</p>
<hr>
{% if article.image %}
    <img src="{{article.image.url}}" alt="" class='card-img-top index-img rounded detail-img'>
{% endif %}
<p>{{ article.content|linebreaksbr }}</p>
{% if user.is_authenticated %}
    <hr>
    <div class="d-flex mb-5">
        <a class="btn btn-warning mr-2" href="{% url 'article_edit' article.id %}">編集する</a>
        <a class="btn btn-danger" href="{% url 'article_delete' article.id %}">削除する</a>    
    </div>
{% endif %}

{% endblock %}