{% extends "app/base.html" %}

{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        {% for article in articles %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text">{{ article.content|truncatechars:100 }}</p>
                    <div class="btn btn-warning">詳細</div>
                </div>
                <div class="card-footer text-muted">
                    {{ article.created|date }} by {{ article.author }}
                </div>
                <a class="stretched-link" href="{% url 'article_detail' article.id %}"></a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">DjangoのCRUDです</h5>
            <div class="card-body">
                <p class="mb-0">
                    Python、Djangoを使ったアプリ作成
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
